@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Source+Sans+Pro&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
  font-family:'Open Sans', sans-serif;;
}
:root {
  --primaryFont: "";
  --yellow: #CEC52C;
  --green: #31873C;
  --blue: #1B578C;
  --red: #590E1C;
  --white: #fefefe;
  --grey: #E6E6E6;
  --light-grey: #F7F7F7;
}
main{
  display: flex;
  justify-content: center;
}
.hidden {
  display: none;
}

.grey{
  filter: grayscale(1);
}

#sorting th,
[data-field="last-name"],
[data-field="name"],
[data-field="pref"],
[data-field="name"],
[data-field="squad"] {
  cursor: pointer;
}


#student-popup {
  background-color: white;
  border: 5px double var(--blue);
  position: fixed;
  box-shadow: 10px 10px 16px -1px rgba(62, 5, 0, 0.31);
  border-radius: 20px;
  top: 8%;
  left: 40%;
  padding: 2rem;
  text-align: center;
}
#popup-expell{
  background-color: var(--yellow);
  color: var(--blue);
  padding: 0.5rem;
  text-align: center;
}
#popup-close{
  background-color: var(--light-grey);
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 0.5rem;
  text-align: center;
}
#squad-popup {
  background-color: white;
  border: 5px double var(--red);
  position: fixed;
  box-shadow: 10px 10px 16px -1px rgba(62, 5, 0, 0.31);
  border-radius: 20px;
  top: 35%;
  left: 30%;
  padding: 1rem;
  text-align: center;
  z-index:1; 
}
.access{
  height: 12vh;
}
#squad-btn{
  background-color: var(--red);
  color: var(--white);
  padding: 0.5rem 2rem 0.5rem 2rem;
  text-align: center;
}
#pref-popup {
  background-color:#e7d7a9;
  position: fixed;
  box-shadow: 10px 10px 16px -1px rgba(62, 5, 0, 0.31);
  border-radius: 20px;
  top: 15%;
  left:40%;
  padding: 2rem;
}
#pref-btn {
  background-color:#e7d7a9;
  position: fixed;
  box-shadow: 10px 10px 16px -1px rgba(62, 5, 0, 0.31);
  border-radius: 20px;
  top: 35%;
  left: 62%;
  padding: 2rem;
}
#h-logo{
  height: 8vw;
}
.grey {
  filter: grayscale(100%);
}
#smallicon{
  height: 8vh;
  /* padding: 1vh; */
}
.inqsquad{
  height: 10vh;
  padding: 1vh;
}
.inqsquad::after{
  filter: grayscale(1);
}
/* nav styling*/
header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hog-logo{
align-items: center;
margin: 1rem;
}
.header-logo{
  height: 35vh;
}
button{
  border-radius: 12px;
  padding: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  
}
button:active {
  transform: translateY(2px);
}
#filter-btns button{
background-color: var(--blue);
color: var(--white);
padding: 0.5rem;
text-align: center;
}
#shdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#align-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}
#search-btn{
  border: 1px solid var(--blue);
  color: var(--blue);
  background-color: var(--white);
  border-radius: 12px;
  padding: 3px 8px 3px 8px;
}
input{
  font-size: 15px;

}
input:active{
  border: 0.2px solid var(--blue);
}
#hacking-btn{
padding: 0.5rem;

}
.hack-yello{
  background-color: var(--yellow);
  color: var(--blue);
}
.hack-red{
  background-color: var(--red);
  color: var(--white);
}
#houses{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin: 1rem;
}
#slyt-btn, #huff-btn, #rave-btn{
  height: 10rem;
  margin-left: 3rem;
}
#grif-btn{
  height: 10rem;
}
table{
 
  justify-items: center;
  margin-top: 1rem;
  
}
th{
  /* border: 1px solid black; */
  font-family:'Open Sans', sans-serif;
  font-size: 18px;
  padding: 1rem;
  background-color: var(--grey);
  color: var(--blue);

}
td{
  text-align: center;
  padding: 1rem;
  background-color: var(--light-grey);
}
#wizzard1{
  width: 6vw;
  height: 6vw;
  background-image: url("./img/green-left.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  position: absolute;
  top: 8vh;
  right: 1vw;
  
}
#wizzard2{
  width: 10vw;
  height: 10vw;
  background-image: url("./img/green-right.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  position: absolute;
  top: 30vw;
  left: 15vw;
  
}
#wizzard3{
  width: 9vw;
  height: 9vw;
  background-image: url("./img/red-left.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  position: absolute;
  top: 25vw;
  right: 24vw;
  
}
#wizzard4{
  width: 3.5vw;
  height: 3.5vw;
  background-image: url("./img/red-right.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  position: absolute;
  top: 8.5vw;
  left: 28vw;
  
}
#wizzard5{
  width: 6vw;
  height: 6vw;
  background-image: url("./img/yellow\ left.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  position: absolute;
  right: 11vw;
  bottom: 5vh;
  
}
#wizzard6{
  width: 7vw;
  height: 7vw;
  background-image: url("./img/yellow\ right.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  align-items: center;
  position: absolute;
  top: 10vw;
  left: 3vw;
  

}
@keyframes flyingleft {
  0%   {left: 0px}
  100% {left: 1400px}
}
@keyframes flyingright {
  0%   {right: 0px}
  100% {right: 1400px}
} 
.flying1{
  animation: flyingright;
  animation-duration: 4s;
  animation-timing-function: linear;
}
.flying2{
  animation: flyingleft 4s ease-in;
}
.flying3{
  animation: flyingright 4s ease-in-out;
}
.flying4{
  animation: flyingleft 3.5s ease-out;
}
.flying5{
  animation: flyingright 4s ease-in-out;

}
.flying6{
  animation: flyingleft 4s ease-in;
}
